
<div class="card-body" style="background-color:@BackgroundColor ">
	<div class="card-header">
			@Title
		</div>
		<div class="card-content">
			<img />
		</div>
	</div>


@code {

	[Parameter]
	public RenderFragment Title { get; set; }
	[Parameter]
	public string BackgroundColor { get; set; }



}
