<h3>AddPokemon</h3>
<div>
	<EditForm Model="Appstate.PokemonModel" OnSubmit="AddPokemonAsync">
		<label>Name</label>
		<input @bind-value="Appstate.PokemonModel.Name" type="text"/>
		<label>Types</label>
		<select @bind="@PokeTypes">
			@foreach (var item in Enum.GetValues(typeof(PokemonModel.PokeType)))
			{
				<option>@((PokemonModel.PokeType)item)</option>
			}
		</select>
	</EditForm>
</div>
@code {
}
