<div class="container">
	@if (Appstate.ChildContentMode.Equals("pokemonInfoPage"))
	{
		<PokemonInfo></PokemonInfo>
	}
	@if (Appstate.ChildContentMode == "typeinfo")
	{
		<TypeInfo></TypeInfo>
	}
	@if(Appstate.ChildContentMode.Equals(""))
	{
		<HomeContent></HomeContent>
	}
</div>

@code {

	
}
