<div class="header">
	<div class="header-title" @onclick="@BackHome">
		<h1 class="header-title-poke">POKE</h1>
		<h1 class="header-title-dex">DEX</h1>
	</div>
	<div class="line">
		<Pokeball></Pokeball>
		<Pokeball></Pokeball>
		<Pokeball></Pokeball>
		<Pokeball></Pokeball>
		<Pokeball></Pokeball>
		<Pokeball></Pokeball>
		<Pokeball></Pokeball>
		<Pokeball></Pokeball>
	</div>
</div>
@code {
	public void BackHome()
	{
		Navman.NavigateTo("/", true);
	}
}