@page "/"
<html>
<body>
	<div class="main-body">
		<Header />
		<div class="main-container">
			<Navbar/>
			<Container>
				<ChildContent>					
						<PokemonInfo ></PokemonInfo>					
				</ChildContent>
			</Container>
			<Footer />
		</div>
	</div>
</body>
</html>
@code {
	
}
